// config.sass

$white: #fafafa
$black: #222
$energy: #93be6e
$offshore: #286aa6
$operations: #9e9f9e

$base-font-size: 16px

// $nav-bar-height: 100px
// $nav-bar-z-index: 9
// $page-footer-height: 200px
// $nav-and-footer-height: 300px
