@import '../assets/config.sass'

*
  user-select: none
  cursor: default
  // box-sizing: border-box
a, button
  cursor: pointer
input, textarea
  cursor: text
h1, h2, h3, h4, h5, h6, p, li, ul
  margin: 0
  padding: 1em 0

html
  background: black

body
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  margin: 0
  padding: 0
  background: $white
  color: $black
  font-size: $base-font-size

#app
  width: 100vw
  overflow-x: hidden

#app-body
  text-align: center
  // min-height: calc(100vh - #{$nav-and-footer-height})
  min-height: 100vh
  padding-top: $nav-bar-height

.bounce-enter-active
  animation: bounce-in .5s
.bounce-leave-active
  animation: bounce-in .5s reverse
@keyframes bounce-in
  0%
    transform: scale(0)
  50%
    transform: scale(1.5)
  100%
    transform: scale(1)

.slide-fade-enter-active
  transition: all 1s ease
.slide-fade-leave-active
  transition: all 2s cubic-bezier(1.0, 0.5, 0.8, 1.0)
.slide-fade-enter, .slide-fade-leave-to
  transform: translateX(10px)
  opacity: 0
